html, body { height: 100%; }
body {
    margin: 0;
    background: url('image.png') center / cover no-repeat fixed;
    font-family: sans-serif;
}

a:hover {
  color: #c0392b;
  text-decoration: underline;
}

.keyword {
  color: red;
  font-weight: bold;
}

.center-hero {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 24px;
}

.center-hero h1 {
  margin: 0;
  font-size: clamp(24px, 4vw, 48px);
  padding: 24px;
  border-radius: 16px;
  color: black;
  background-color: #f9efce;
  border: 8px solid #b0cee2;
}

/* Simple two-column layout */
.layout {
  gap: 16px;
  padding: 16px;
  display: flex;
  width: 65%;
  margin: 0 auto;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Shared box style */
.card {
  border-radius: 16px;
  color: black;
  background-color: #f9efce;
  border: 8px solid #b0cee2;
  padding: 16px;
}


/* Left column specific styles */

.left { align-items: flex-start; }
.left .card { 
    min-width: 25rem;
    text-align: center;
}
.left .card img {
  width: 350px;
  height: auto;
  margin: 0 auto;
  border-radius: 16px;
}

.quote {
  font-style: italic;
  font-size: 1rem;
  max-width: 25rem
}

.left .card.left-align ul { 
    text-align: left; 
}

/* Right column specific styles */
.card-stack {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.card-stack .card {
  flex: 1 1 0;
  min-width: 0;
}
.card-stack .card a {
  display: block;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background: #faf3dc;
}

tr:nth-child(even) {
  background: #b0cee2;
}

ul {
    padding-left: 16px;
}

h3 {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.card-stack .card li a {
  display: inline;
  text-align: left;
}
